/********************************************************************/
/* GENERAL */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --clr-light-beige: rgb(243, 220, 189);
  --clr-dark-orange: rgb(239, 92, 59);

  --clr-palette01-dark-cyan: #264653;
  --clr-palette01-cyan: #2a9d8f;
  --clr-palette01-yellow: #e9c46a;
  --clr-palette01-light-orange: #f4a261;
  --clr-palette01-orange: #e76f51;

  --clr-palette12-grey: #353535;
  --clr-palette12-ash-cyan: #3c6e71;
  --clr-palette12-white: #ffffff;
  --clr-palette12-light-grey: #d9d9d9;
  --clr-palette12-ash-blue: #284b63;
}

html {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-align: center;
}

/********************************************************************/
/* SPECIFIC */

/********************************************************************/
/* CLASS LISTS */

.symbol-delete {
  _background-color: var(--clr-grey-01);
  border: 1px solid darkslategray;
}

.name-element {
  color: var(--clr-palette01-dark-cyan);
  background-color: var(--clr-palette01-cyan);
  border: 2px solid var(--clr-palette01-dark-cyan);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
  box-shadow: 4px 4px 2px var(--clr-palette01-orange);
}

/********************************************************************/
/* UTILITIES */

.pad-p25rem {
  padding: 0.25rem;
}
.pad-p5rem {
  padding: 0.5rem;
}
.pad-p75rem {
  padding: 0.75rem;
}
.pad-1rem {
  padding: 1rem;
}

.pad-bottom-p25rem {
  padding-bottom: 0.25rem;
}

.pad-block-p25rem {
  padding-block: 0.25rem;
}
.pad-block-p5rem {
  padding-block: 0.5rem;
}
.pad-block-p75rem {
  padding-block: 0.75rem;
}
.pad-block-1rem {
  padding-block: 1rem;
}
.pad-block-1p25rem {
  padding-block: 1.25rem;
}

.pad-left-p25rem {
  padding-left: 0.25rem;
}
.pad-inline-p25rem-4rem {
  padding-inline: 0.25rem 4rem;
}

.pad-inline-p25rem {
  padding-inline: 0.25rem;
}
.pad-inline-p5rem {
  padding-inline: 0.5rem;
}
.pad-inline-1rem {
  padding-inline: 1rem;
}

.mar-0rem {
  margin: 0rem;
}
.mar-p5rem {
  margin: 0.5rem;
}
.mar-p75rem {
  margin: 0.75rem;
}
.mar-1rem {
  margin: 1rem;
}

.mar-bottom-p5rem {
  margin-bottom: 0.5rem;
}
.mar-bottom-1rem {
  margin-bottom: 1rem;
}
.mar-bottom-1p5rem {
  margin-bottom: 1.5rem;
}
.mar-bottom-2p5rem {
  margin-bottom: 2.5rem;
}

.mar-left-p25rem {
  margin-left: 0.25rem;
}

/*****************/

.ft-sz-1rem {
  font-size: 1rem;
}
.ft-sz-1p2rem {
  font-size: 1.2rem;
}
.ft-sz-1p25rem {
  font-size: 1.25rem;
}
.ft-sz-1p5rem {
  font-size: 1.5rem;
}
.ft-sz-2rem {
  font-size: 2rem;
}
.ft-sz-3rem {
  font-size: 3rem;
}

.ft-weight-500 {
  font-weight: 500;
}
.ft-weight {
  font-weight: 700;
}

.text-shadow-white {
  text-shadow: 2px 2px 0 white;
}
/*****************/

.clr-cyan {
  color: var(--clr-palette01-cyan);
}
.clr-dark-cyan {
  color: var(--clr-palette01-dark-cyan);
}
.clr-yellow {
  color: var(--clr-palette01-yellow);
}
.clr-orange {
  color: var(--clr-palette01-light-orange);
}
.clr-light-orange {
  color: var(--clr-palette01-light-orange);
}
.clr-grey {
  color: var(--clr-palette12-grey);
}

.bg-clr-cyan {
  background-color: var(--clr-palette01-cyan);
}
.bg-clr-dark-cyan {
  background-color: var(--clr-palette01-dark-cyan);
}
.bg-clr-yellow {
  background-color: var(--clr-palette01-yellow);
}
.bg-clr-orange {
  background-color: var(--clr-palette01-light-orange);
}
.bg-clr-light-orange {
  background-color: var(--clr-palette01-light-orange);
}
.bg-clr-light-grey {
  background-color: var(--clr-light-beige);
}

/*****************/
.border-none {
  border: none;
}

.border-bottom-yellow-p75rem {
  border-bottom: 0.75rem double var(--clr-palette01-dark-cyan);
}

.border-solid-dark-orange {
  border: 2px solid var(--clr-dark-orange);
}
.border-solid-dark-cyan {
  border: 2px solid var(--clr-palette01-dark-cyan);
}
.border-solid-cyan {
  border: 2px solid var(--clr-palette01-cyan);
}

.border-radius-p25rem {
  border-radius: 0.25rem;
}

.box-shadow-orange {
  box-shadow: 0px 4px 2px var(--clr-palette01-orange);
}

/*****************/

.max-width-16rem {
  max-width: 16rem;
}

.list-style-none {
  list-style-type: none;
}

/*****************/

.flex-c-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-r-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-gap-p5rem {
  gap: 0.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

/*****************/
